Alexa Enabled IoT Device Simulation/obj/
Alexa Enabled IoT Device Simulation/bin/
Alexa Enabled IoT Device Simulation/packages/
Alexa Enabled IoT Device Simulation/.vs/Alexa Enabled IoT Device Simulation/FileContentIndex/2055d937-43b3-4cd2-96a3-51fef459722e.vsidx
Alexa Enabled IoT Device Simulation/.vs/Alexa Enabled IoT Device Simulation/FileContentIndex/
